<div class="container">
  <div class="page-header">
    <div class="title-section">
      <button mat-icon-button (click)="goBack()" matTooltip="Go back">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h2>
        <mat-icon>schedule</mat-icon>
        Scheduled Tasks
      </h2>
    </div>
  </div>

  <app-data-table
    [data]="allItems()"
    [columns]="columns"
    [filterSections]="filterSections"
    [searchKeys]="searchKeys"
    [defaultSort]="{ key: 'name', dir: 'asc' }"
    searchPlaceholder="Search by name, schedule, or list"
    (rowClick)="editItem($event)">

    <div dataTableToolbar>
      <button mat-flat-button color="primary" (click)="openNewDialog()">
        <mat-icon>add</mat-icon>
        New Scheduled Task
      </button>
    </div>

    <ng-template appColumn="name" let-item>
      <strong>{{ item.name }}</strong>
    </ng-template>

    <ng-template appColumn="cronExpression" let-item>
      <code class="cron-badge">{{ item.cronExpression }}</code>
    </ng-template>

    <ng-template appColumn="cronDescription" let-item>
      <span class="cron-description">{{ cronToEnglish(item.cronExpression) }}</span>
    </ng-template>

    <ng-template appColumn="taskList" let-item>{{ item.taskList?.name || '-' }}</ng-template>

    <ng-template appColumn="project" let-item>
      @if (item.project) {
        <span class="project-chip" [style.background-color]="'#' + (item.project.tagColorHex || '808080')">
          {{ item.project.shortName }}
        </span>
      } @else {
        <span>-</span>
      }
    </ng-template>

    <ng-template appColumn="notifyOnCreate" let-item>
      <mat-icon class="notify-icon" [class.notify-on]="item.notifyOnCreate" [class.notify-off]="!item.notifyOnCreate">
        {{ item.notifyOnCreate ? 'notifications_active' : 'notifications_off' }}
      </mat-icon>
    </ng-template>

    <ng-template appColumn="nextRunAt" let-item>{{ item.nextRunAt | date:'MMM d, y h:mm a' }}</ng-template>

    <ng-template appColumn="lastRunAt" let-item>
      {{ item.lastRunAt ? (item.lastRunAt | date:'MMM d, y h:mm a') : 'Never' }}
    </ng-template>
  </app-data-table>
</div>
