<mat-toolbar color="primary">
    <button mat-button routerLink="/">
        <div class='flex-row'>
            <img src='../../../assets/logo.svg' height='40em'>
            &nbsp;
            &nbsp;
            <div class='flex-column'>
                <div class='flex-grow'></div>
                <div style='font-size: 1.5em;'>Letwinventory</div>
                <div class='flex-grow'></div>
            </div>
        </div>
    </button>
    <!--Add Additional Pages Here-->
    <button *ngIf="auth.isAuthenticated" mat-button routerLink="/tasks">Plan</button>
    <span style="flex: 1 1 auto"></span>
    <!--Right Aligned-->
    <button *ngIf="!auth.isAuthenticated" mat-button (click)='login()'>Log In</button>
    <button *ngIf="auth.isAuthenticated" mat-button routerLink="/user">Welcome {{auth.displayName}}</button>
    <button *ngIf="auth.isAuthenticated" mat-button (click)="auth.logout()">Log Out</button>
    <button *ngIf="auth.isAuthenticated" mat-icon-button (click)="togglePomodoro()" matTooltip="Toggle Pomodoro">
        <mat-icon>timer</mat-icon>
    </button>
</mat-toolbar>