<div id='locationEditForm'>
    <form (ngSubmit)='onSubmit()' novalidate [formGroup]="locationEditForm" *ngIf='!loading'>
        <div class='full-width'>
            <div class='mat-headline'>{{title}}</div>
            <div class='flex-grow'></div>
            <button mat-icon-button (click)='close()'>
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <mat-form-field class='full-width'>
            <mat-label>Category</mat-label>
            <mat-select [(ngModel)]='tag.barcodeCategoryID' formControlName='barcodeCategory' [disabled]='!newBarcode'
                (selectionChange)='categorySelected(barcodeCategory)'>
                <mat-option *ngFor='let barcodeCategory of barcodeCategories' [value]='barcodeCategory.id'>
                    {{barcodeCategory.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <ng-container *ngIf='tag.type!="Trace"'>
            <mat-form-field class='full-width' *ngIf='!newBarcode||tag.barcodeCategoryID!=null'>
                <input matInput placeholder="Name" formControlName='name' [(ngModel)]='tag.name'
                    [required]='tag.type=="Location"' />
            </mat-form-field>
            <mat-form-field class='full-width' *ngIf='!newBarcode||tag.barcodeCategoryID!=null'>
                <textarea matInput placeholder="Description" formControlName='description'
                    [(ngModel)]='tag.description'>
          </textarea>
            </mat-form-field>
        </ng-container>
        <ng-container *ngIf='tag.type=="Trace"'>
            <div>PART SELECT</div>
            <mat-form-field class='full-width' *ngIf='!newBarcode||tag.barcodeCategoryID!=null'>
                <input matInput placeholder="Quantity" formControlName='quantity' [(ngModel)]='tag.quantity' />
            </mat-form-field>
        </ng-container>

        <div class='full-width'>
            <button mat-mini-fab color='warn' (click)='deleteBarcode()'>
                <mat-icon>delete</mat-icon>
            </button>
            <div class='flex-grow'></div>

            <button *ngIf='!newBarcode' mat-raised-button color='accent' type='submit'
                [disabled]="!locationEditForm.valid" color="primary" (click)="updateBarcode()"
                [disabled]='locationEditForm.pristine'>Update</button>

            <div *ngIf='newBarcode'>
                <button mat-raised-button color='accent' (click)='createBarcode()'
                    [disabled]="!locationEditForm.valid">Create</button>
                &nbsp;
                <button mat-raised-button color='primary' (click)='createAndPrintBarcode()'
                    [disabled]="!locationEditForm.valid">Create & Print</button>
            </div>
        </div>
    </form>
</div>