services:
  letwinventory-backend:
    build:
      context: ./backend
    env_file:
      - .env.development
    environment:
      NODE_ENV: development
    volumes:
      - ./backend:/usr/src
      - ./backend/node_modules:/usr/src/node_modules # Remove this if you have pure JS dependencies
    ports:
      - ${BACKEND_PORT}:${BACKEND_PORT}
    depends_on:
      - letwinventory-postgres
    container_name: letwinventory-backend
  letwinventory-frontend:
    build:
      context: ./frontend
    volumes:
      - /app/node_modules
      - ./frontend:/app
    ports:
      - 4200:4200
    depends_on:
      - letwinventory-postgres
      - letwinventory-backend
    container_name: letwinventory-frontend
  letwinventory-postgres:
    image: postgres:18
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - 5433:${DB_PORT}
    container_name: letwinventory-postgres
  letwinventory-pgadmin:
    container_name: letwinventory-pgadmin4
    image: dpage/pgadmin4
    restart: always
    attach: false
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - ${PGADMIN_PORT}:80
    volumes:
      - ./data/pgadmin:/var/lib/pgadmin

volumes:
  postgres_data:
    driver: local
