<div class="projects-container">
  <div class="page-header">
    <div class="title-section">
      <button mat-icon-button (click)="goBack()" matTooltip="Go back">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h2>
        <mat-icon>folder</mat-icon>
        Projects
      </h2>
    </div>
  </div>

  <app-data-table
    [data]="allProjects()"
    [columns]="columns"
    [filterSections]="filterSections"
    [searchKeys]="searchKeys"
    [defaultSort]="{ key: 'name', dir: 'asc' }"
    searchPlaceholder="Search by name, short name, or description"
    (rowClick)="editProject($event)">

    <div dataTableToolbar>
      <button mat-flat-button color="primary" (click)="openNewProjectDialog()">
        <mat-icon>add</mat-icon>
        New Project
      </button>
    </div>

    <ng-template appColumn="shortName" let-project>
      <span class="project-chip" [style.background-color]="'#' + (project.tagColorHex || '808080')">
        {{ project.shortName }}
      </span>
    </ng-template>

    <ng-template appColumn="name" let-project>
      <strong>{{ project.name }}</strong>
    </ng-template>

    <ng-template appColumn="description" let-project>{{ project.description || '-' }}</ng-template>

    <ng-template appColumn="keyboardShortcut" let-project>
      @if (project.keyboardShortcut) {
        <span class="shortcut-badge">{{ project.keyboardShortcut }}</span>
      } @else {
        <span class="no-shortcut">-</span>
      }
    </ng-template>

    <ng-template appColumn="createdAt" let-project>{{ project.createdAt | date:'MMM d, y' }}</ng-template>
  </app-data-table>
</div>
