<form (ngSubmit)='onSubmit()' novalidate [formGroup]="moveBarcodeForm">
    <div class='full-width'>
        <div class='mat-headline'>Move</div>
        <div class='flex-grow'></div>
        <button mat-icon-button (click)='close()'>
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <mat-form-field class='full-width'>
        <mat-label>Barcode</mat-label>
        <input type="text" placeholder="Tag" matInput [formControl]="barcodeControl"
            [matAutocomplete]="barcodeTagAutocomplete">
        <button matSuffix mat-icon-button (click)="clearBarcodeControl()">
            <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #barcodeTagAutocomplete="matAutocomplete">
            <mat-option *ngFor="let tag of filteredBarcodeTags | async" [value]='tag.barcode+" | "+tag.name'
                (click)='selectBarcodeTag(tag)'>
                {{tag.barcode}} | {{tag.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>


    <mat-form-field class='full-width'>
        <mat-label>New Location</mat-label>
        <input type="text" placeholder="Tag" matInput [formControl]="newLocationControl"
            [matAutocomplete]="newLocationTagAutocomplete">
        <button matSuffix mat-icon-button (click)="clearNewLocationControl()">
            <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #newLocationTagAutocomplete="matAutocomplete">
            <mat-option *ngFor="let tag of filteredNewLocationTags | async" [value]='tag.barcode+" | "+tag.name'
                (click)='selectNewLocationTag(tag)'>
                {{tag.barcode}} | {{tag.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>



    <div class='full-width'>
        <div class='flex-grow'></div>
        <button mat-raised-button color='primary' (click)='moveBarcode()'
            [disabled]="moveBarcodeForm.invalid">Move</button>
    </div>
</form>