<div class="task-card" (click)="openDialog()" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    @if (projectColor()) {
    <div class="project-dot" [style.background-color]="projectColor()"></div>
    }
    <div class="card-content">
        <input type="checkbox" class="task-checkbox" [checked]="displayDone()"
            (click)="$event.preventDefault(); toggleComplete($event)" />
        <div class="task-title" [class.completed]="displayDone()">{{ task().name }}</div>
    </div>
    @if (task().dueDate || task().timeEstimate || task().subtasks?.length || task().parentTaskID) {
    <div class="meta-info">
        @if (task().dueDate) {
        <span class="due-date-tag" [class.overdue]="isOverdue()">
            <mat-icon class="icon-xs">schedule</mat-icon>
            {{ task().dueDate | date:'MMM d' }}
        </span>
        }
        @if (task().timeEstimate) {
        <span class="time-estimate-badge">
            <mat-icon class="icon-xs">timer</mat-icon>
            {{ formatEstimate(task().timeEstimate) }}
        </span>
        }
        <span class="spacer"></span>
        @if (task().subtasks?.length) {
        <mat-icon class="hierarchy-icon" matTooltip="Parent Task">account_tree</mat-icon>
        }
        @if (task().parentTaskID) {
        <mat-icon class="hierarchy-icon" matTooltip="Subtask">subdirectory_arrow_right</mat-icon>
        }
    </div>
    }
</div>