<div class="page-container">
  <div class="page-header">
    <h2>Engineering Masters</h2>
  </div>

  @if (isLoading()) {
    <div class="loading-container">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
  } @else {
    <app-data-table
      [data]="masters()"
      [columns]="columns"
      [searchKeys]="searchKeys"
      [defaultSort]="{ key: 'name', dir: 'asc' }"
      [rowHref]="rowHref"
      searchPlaceholder="Search masters..."
      (rowClick)="openMaster($event)">

      @if (canWrite()) {
        <div dataTableToolbar>
          <button mat-flat-button color="primary" (click)="createMaster()">
            <mat-icon>add</mat-icon> New Master
          </button>
        </div>
      }

      <ng-template appColumn="revision" let-master>
        <span class="revision-badge">EM Rev {{ master.revision }}</span>
      </ng-template>

      <ng-template appColumn="releaseState" let-master>
        <span class="state-chip"
          [style.background-color]="getStateColor(master.releaseState) + '33'"
          [style.color]="getStateColor(master.releaseState)">
          {{ master.releaseState }}
        </span>
      </ng-template>

      <ng-template appColumn="outputParts" let-master>
        @for (op of master.outputParts; track op.id) {
          <span class="output-part">{{ op.part?.name }} (×{{ op.part?.UnitOfMeasure?.allowDecimal ? op.quantity : (op.quantity | number:'1.0-0') }})</span>
        }
      </ng-template>

      <ng-template appColumn="steps" let-master>{{ master.stepCount }}</ng-template>

      <ng-template appColumn="createdAt" let-master>{{ master.createdAt | date:'shortDate' }}</ng-template>
    </app-data-table>
  }
</div>
