<button mat-raised-button color="primary" style='margin:1em' (click)='newPart()'>+ New Part</button>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef width=20%> Name </th>
            <td mat-cell *matCellDef="let part">{{part.name}}</td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let part"> {{part.description}} </td>
        </ng-container>
        <ng-container matColumnDef="vendor">
            <th mat-header-cell *matHeaderCellDef width=20%> Vendor </th>
            <td mat-cell *matCellDef="let part"> {{part.vendor}} </td>
        </ng-container>
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef style="width:6.7em"></th>
            <td mat-cell *matCellDef="let part">
                <button mat-mini-fab (click)="editPart(part)"
                    [matTooltip]="'Edit '+part.name"><mat-icon>edit</mat-icon></button>
                <button mat-mini-fab *ngIf='part.Traces.length==0' (click)="addTrace(part)"
                    [matTooltip]="'Generate Trace for '+part.name"><mat-icon>add</mat-icon></button>
                <button mat-mini-fab *ngIf='part.Traces.length>0' (click)="showTraces(part)"
                    [matTooltip]="'View Traces for '+part.name"><mat-icon>miscellaneous_services</mat-icon></button>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let part; columns: columnsToDisplay;"></tr>


    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 50]" showFirstLastButtons></mat-paginator>
</div>