@use '@angular/material' as mat;

.task-card {
    margin-bottom: 8px;
    cursor: pointer;
    // background-color: mat.get-color-from-palette(mat.$gray-palette, 700);


    .owner-avatar {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-right: 8px;
        vertical-align: middle;
    }
}

.task-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.task-due-date {
    display: flex;
    align-items: center;
    gap: 4px;
    color: rgba(0, 0, 0, 0.6);
}

.priority-icon {
    font-size: 16px;
    margin-right: 8px;
}