.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 16px;
}

.active-link {
  background-color: rgba(255, 255, 255, 0.2);
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar.nav-header {
  background-color: orange;
  color: red;
}