<app-sub-toolbar (toggleHistory)="toggleHistory()" (toggleEditMode)="toggleEditMode()"
    (projectFilterChanged)="onProjectFilterChanged($event)" (showNoProjectChanged)="onShowNoProjectChanged($event)"
    (showChildTasksChanged)="onShowChildTasksChanged($event)" [isEditMode]="isEditMode()"
    [initialProjectIds]="initialProjectIds()" [initialShowNoProject]="initialShowNoProject()"
    [initialShowChildTasks]="initialShowChildTasks()"
    [currentProjects]="currentProjectsParam()" [currentNoProject]="currentNoProjectParam()"
    [currentSubtasks]="currentSubtasksParam()"
    (revertToDefault)="onRevertToDefault()" (saveAsDefault)="onSaveAsDefault()"></app-sub-toolbar>
<app-history-drawer [isOpen]="isHistoryOpen()" (close)="toggleHistory()"></app-history-drawer>
<div class="board-container" #boardContainer [class.is-dragging]="isDragging()" cdkScrollable>
    @if (isEditMode()) {
    <!-- Edit Mode: Use local copy with drag/drop -->
    <div class="board-wrapper" cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="taskListsLocal()"
        (cdkDropListDropped)="dropList($event)">
        @for(list of taskListsLocal(); track list.id) {
        <app-task-list [taskList]="list" [connectedLists]="(connectedListIds$ | async) || []" [isEditMode]="true"
            [filterProjectIds]="selectedProjectIds()" [showNoProject]="showNoProject()" [showChildTasks]="showChildTasks()"
            (listRenamed)="onListRenamed(list.id, $event)" (listDeleted)="onListDeleted(list.id)"
            (cardDragStarted)="isDragging.set(true)" (cardDragEnded)="isDragging.set(false)" cdkDrag></app-task-list>
        }

        <!-- Add New List -->
        @if (isAddingList()) {
        <div class="new-list-form">
            <input #listInput [(ngModel)]="newListName" (keydown.enter)="confirmAddList()"
                (keydown.escape)="cancelAddingList()" class="new-list-input" placeholder="Enter list name..." autofocus />
            <div class="new-list-actions">
                <button (click)="confirmAddList()" class="add-list-btn">Add list</button>
                <button (click)="cancelAddingList()" class="cancel-btn">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
        } @else {
        <button class="add-list-btn-large" (click)="startAddingList()">
            <mat-icon>add</mat-icon>
            <span>Add another list</span>
        </button>
        }
    </div>
    } @else {
    <!-- Normal Mode: Use observable -->
    <div class="board-wrapper">
        @if (taskLists$ | async; as taskLists) {
        @for(list of taskLists; track list.id) {
        <app-task-list [taskList]="list" [connectedLists]="(connectedListIds$ | async) || []"
            [filterProjectIds]="selectedProjectIds()" [showNoProject]="showNoProject()" [showChildTasks]="showChildTasks()"
            (cardDragStarted)="isDragging.set(true)" (cardDragEnded)="isDragging.set(false)"></app-task-list>
        }
        } @else {
        <div class="loading-wrapper">
            @for(i of [1,2,3]; track i) {
            <div class="loading-placeholder">
                <div class="loading-header"></div>
                <div class="loading-content">
                    <div class="loading-item"></div>
                    <div class="loading-item"></div>
                    <div class="loading-item"></div>
                </div>
            </div>
            }
        </div>
        }
    </div>
    }
</div>
