@use '@angular/material' as mat;

:host {
    display: block;
    height: 100%;
}

mat-toolbar {
    padding: 0;
    height: 100%;
    position: relative;
}

.bg-progress-bar {
    height: 100%;
    background-color: green;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    transition: width 0.3s ease;
}

.time-display {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}

.pomodoro-bar {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em 1em;
  background-color: mat.get-color-from-palette(mat.$gray-palette, 50);
  border-bottom: 1px solid mat.get-color-from-palette(mat.$gray-palette, 200);
}

.timer-controls {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.timer-display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: 2em;
  font-weight: 500;
}

.timer-actions {
  display: flex;
  gap: 0.5em;
}

mat-progress-bar {
  height: 0.25em;
} 