@use '@angular/material' as mat;

:host {
    display: block;
    height: 100%;
}

mat-toolbar {
    padding: 0;
    height: 100%;
    position: relative;
}

.pomodoro-toolbar {
    background-color: rgba(0, 0, 0, .1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s ease;

    &.hidden {
        height: 0px !important;
        min-height: 0px !important;
        padding: 0;
    }

    &.compact {
        height: 3px !important;
        min-height: 3px !important;
        padding: 0;
    }
}

.time-display {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}

.progress-bar-controlls {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0em 1em;
    opacity: 1;
    transition: opacity 0.3s ease;
}
.bg-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    background-color: green;
    // box-shadow: 0 0 15px 0px rgba(0,128,0,0.75);
    // clip-path: inset(0 -15px 0 0);
    display: flex;
    align-items: center;
    // padding: 0 1rem;
    transition: width 0.3s ease;
}

.pomodoro-bar {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em 1em;
  background-color: mat.m2-get-color-from-palette(mat.$m2-gray-palette, 50);
  border-bottom: 1px solid mat.m2-get-color-from-palette(mat.$m2-gray-palette, 200);
}

.timer-controls {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.timer-display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: 2em;
  font-weight: 500;
}

.timer-actions {
  display: flex;
  gap: 0.5em;
}

mat-progress-bar {
  height: 0.25em;
}

.control-buttons {
    display: flex;
    gap: 0.5em;
    align-items: center;

    button {
        color: white;
    }
} 