<mat-toolbar class="pomodoro-toolbar" *ngIf="isAuthenticated" [class.compact]="isCompact&&isVisible" [class.hidden]="isCompact&&!isVisible">
    <div class="progress-bar-controlls" *ngIf="!isCompact">
        <div class="time-display">
            <span>{{ currentTimeMod30 }}</span>
        </div>
        <div class="flex-grow"></div>
        <div class="control-buttons">
            <button mat-icon-button (click)="toggleMute()" [matTooltip]="isMuted ? 'Unmute' : 'Mute'">
                <mat-icon>{{ isMuted ? 'volume_off' : 'volume_up' }}</mat-icon>
            </button>
            <button mat-icon-button (click)="toggleNotifications()" [matTooltip]="notificationsEnabled ? 'Disable Notifications' : 'Enable Notifications'">
                <mat-icon>{{ notificationsEnabled ? 'notifications_active' : 'notifications_off' }}</mat-icon>
            </button>
            <button mat-icon-button (click)="toggleVisibility()" [matTooltip]="isVisible ? 'Hide Timer' : 'Show Timer'">
                <mat-icon>{{ isVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
            
        </div>
    </div>
    <div class="bg-progress-bar" 
        [style.width.%]="progress"
        
        [style.background-color]="mode === 'pomodoro' ? 'green' : 'blue'"
    ></div>
</mat-toolbar>